@import 'styles/variables.scss';

.blcolor {
    background-color: #87B5c7;
}


table#Calendar td {
    border: 1px solid Black;
    height: 50px;
    text-align: center;
}

table#Calendar td {
    height: 70px;
    width: 150px;
}

.Present {
    background-color: linen;
    color: black;
    margin-top: 4px;
    width: 63px;
}


