<sb-layout-dashboard [light]="true">
    
    <sb-dashboard-head title="" [hideBreadcrumbs]="false"> </sb-dashboard-head>
    
    <sb-dashboard-cards> </sb-dashboard-cards>
     <!-- <sb-dashboard-charts></sb-dashboard-charts>
     <sb-dashboard-tables></sb-dashboard-tables> -->
    
    <!-- <table id="Calendar" width="100%" style="border:solid 1px black;">
        <tr>
            <td colspan="7">
                <span style="float:left; padding-left:10px;">mahesh</span>
                <span style="float:right; padding-right:10px;"> {{processDate}}
                </span>
            </td>
        </tr>
    
        <tr>
            <td class="blcolor">SUN</td>
            <td class="blcolor">MON</td>
            <td class="blcolor">TUE</td>
            <td class="blcolor">WED</td>
            <td class="blcolor">THU</td>
            <td class="blcolor">FRI</td>
            <td class="blcolor" style="color:red;">SAT</td>
        </tr>
    
        <tr>
            <td *ngFor="let fWD of firstWDates; let i = index,let last=last" (click)="getData(fWD)">
                <span class="datecls" *ngIf="fWD">
                  <span *ngIf='last' style="color: red;">  {{fWD}} </span> 
                  <span *ngIf='!last'>  {{fWD}} </span> 	
                </span>
            </td>
        </tr>
    
        <tr>
            <td *ngFor="let sndWekD of secondWDates; let i = index">
                <span class="datecls"> {{sndWekD}} </span>
            </td>
        </tr>
    
        <tr>
            <td *ngFor="let thrdWekD of thirdWDates; let i = index">
                <span class="datecls"> {{thrdWekD}} </span>
            </td>
        </tr>
    
        <tr *ngIf="forthWDates.length">
            <td *ngFor="let forthWekD of forthWDates; let i = index">
                <span class="datecls"> {{forthWekD}} </span>
            </td>
        </tr>
    
        <tr *ngIf="fifthWDates.length">
            <td *ngFor="let fifthhWekD of fifthWDates; let i = index">
                <span class="datecls" *ngIf="fifthhWekD"> {{fifthhWekD}} </span>
            </td>
        </tr>
    
        <tr *ngIf="sixthWDates.length">
            <td *ngFor="let sisthWekD of sixthWDates; let i = index">
                <span class="datecls" *ngIf="sisthWekD"> {{sisthWekD}} </span>
            </td>
        </tr>
    
        <tr>
            <td colspan="7"></td>
        </tr>
    </table> -->
   
</sb-layout-dashboard>


<div class="view-side-form">
    <div>
        <router-outlet></router-outlet>
    </div>
</div>