p {
	font-family: Lato;
}
.title {
	width: calc(100% - 24px);
	border: 2px solid grey;
    padding: 10px;
    font-size: 10px;
}
.event {
	margin-top: 20px;
	span {
		color: red;
	}
}
.creator-info {
	width: calc(100% - 24px);
	border: 2px solid grey;
	border-top: 0;
	padding: 10px;
}
.code-block {
	margin-top: 20px;
}
.mb-10px {
	margin-bottom: 10px;
}
.d-flex {
	display: flex;
}

#threeWrapper {
    font-size: 12px;
}

// div#threeWrapper {
//     font-size: 10px !important;
//   }