
<sb-layout-dashboard [light]="true">
    <sb-card>
        <div class="card-header">
            <fa-icon class="mr-1" [icon]="['fas', 'table']"></fa-icon>All Locations
        </div>
        <div class="card-body">
            <div class='title'>
                <lib-ngx-tree-component [treeData]="locationTree" (ondragstart)="onDragStart($event)"
                    (ondragenter)="onDragEnter($event)" (ondragleave)="onDragLeave($event)"
                    (ondrop)="onDrop($event)" (onallowdrop)="onAllowDrop($event)" (onadditem)="onAddItem($event)"
                    (onStartDeleteItem)="onStartDeleteItem($event)"
                    (onFinishDeleteItem)="onFinishDeleteItem($event)"
                    (onCancelDeleteItem)="onCancelDeleteItem($event)"
                    (onStartRenameItem)="onStartRenameItem($event)"
                    (onFinishRenameItem)="onFinishRenameItem($event)" [config]='config'>
                </lib-ngx-tree-component>
                <!-- =================================== -->
                <!-- <div class='event'>Event: <span>{{currentEvent}}</span>
                </div> -->
            </div>
        </div>
    </sb-card>
     <div class="view-side-form">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>

    
</sb-layout-dashboard>
