<ng-container *ngIf='direction === "asc"'>
    <fa-icon class="sort-icon" [icon]='["fas", "chevron-up"]'>

    </fa-icon></ng-container><ng-container *ngIf='direction === "desc"'>
        <fa-icon class="sort-icon" [icon]='["fas", "chevron-down"]'></fa-icon>
    </ng-container>
